/*
 *
 * Header
 *
 */

body {
  line-height: 1.25em;
  font-family: fantasy;
}

header {
  font-weight: normal;
  color: #2d3c49;
  background: white;
  width: 70%;
  padding: 11px 0px 0px 328px;
}

.vertical-centerer {
  height: 100%;
width: 100%;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.header-content {
  box-shadow: 0px 5px 0px #7d97ad;
  width: 100%;
  margin-left: auto;
}

.logo {
  width: 75px;
  display: inline-block;
  margin: 10px 0px;

}

.header-texts {
  width: 34%;
  line-height: 1.25em;
  display: flex;
  flex-wrap: wrap;
  font-family: fantasy;
}

h1 {
  font-size: 45px;
}

h3 {
  -webkit-margin-before: 0px;
  padding-left: 158px;
}

#logo-span {
  width: 20%;
}


/*
 *
 * MAIN IMAGE CONTENT
 *
 */

.main-content {
  width: 70%;
  padding: 36px 0px 0px 328px;
}

.main-img {
  width: 100%;
}


/*
.parent-full-length {
  width: 100%;
} */

/* .linked-img-div {
  width: 33.3%;
} */

.linked-img {
  width: 98%;
  order: 0;
}

#linked-img-name {
  width: 100%;
  order: 1;
  text-align: center;
  vertical-align: middle;
}

#linked-img-link {
  width: 100%;
  order: 2;
  text-align: center;
  vertical-align: middle;
}

.text-align-center {
  text-align: center;
  vertical-align: middle;
}

.first-img-container {
  width: 33.33%;
  order:0;
}


.second-img-container {
  width: 33.33%;
  order:1;
}

.third-img-container {
  width: 33.33%;
  order:1;
}
