/*
 *
 * Header
 *
 */


body {
  line-height: 1.25em;
  font-family: fantasy;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

header {
  order: 0;
  font-weight: normal;
  color: #2d3c49;
  background: white;
  width: 100%;
  padding: 11px 0px 0px 328px;
}

main {
  width: 100%;
  padding: 36px 0px 0px 328px;
  order: 1;
}

.vertical-centerer {
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.header-content {
  order: 0;
  box-shadow: 0px 5px 0px #7d97ad;
  width: 100%;
  margin-left: auto;
}

.logo {
  width: 75px;
  display: inline-block;
  margin: 10px 0px;

}

.header-texts {
  order: 1;
  width: 34%;
  line-height: 1.25em;
  display: flex;
  flex-wrap: wrap;
  font-family: fantasy;
}

h1 {
  font-size: 45px;
}

h3 {
  -webkit-margin-before: 0px;
  padding-left: 158px;
}

#logo-span {
  width: 20%;
  order: 0;
}


/*
 *
 * MAIN IMAGE CONTENT
 *
 */

/* .main-content {
  width: 70%;
  padding: 36px 0px 0px 328px;
} */

.main-img {
  width: 100%;
}

.main-img-content {
  order: 0;
  width: 100%;
}

.main-content-section {
  order: 1;
  width: 100;
}


.featured-work {
  order: 0;
  width: 100%;
  color:#7d97ad;
}

.all-imgs-container {
  order: 1;
}





/*
.parent-full-length {
  width: 100%;
} */

/* .linked-img-div {
  width: 33.3%;
} */

.linked-img {
  width: 98%;
  order: 0;
}

#linked-img-name {
  width: 100%;
  order: 1;
  text-align: center;
  vertical-align: middle;
}

#linked-img-link {
  width: 100%;
  order: 2;
  text-align: center;
  vertical-align: middle;
}

.text-align-center {
  text-align: center;
  vertical-align: middle;
}

.first-img-container {
  width: 100%;
  order:0;
}


.second-img-container {
  width: 100%;
  order:1;
}

.third-img-container {
  width: 100%;
  order:2;
}





/*
*
*  responsive
*
*/



@media screen and (max-width: 400px) {
  .main-wrapper {
    margin: auto;
    width: 100%;
  }

  header {
    padding: 0px;
  }

  main {
    padding: 0px;
  }

  .header-content {
    margin: 0px;
  }

  #logo-span {
    width: 100%;

  }

  .logo {
    padding-left: 128px;
  }

  .header-texts {
    width: 100%;
  }

  .header-user-name {
    width: 100%;
    font-size: 49px;
  }
  .header-user-role {
    width: 100%;
    padding: 0px 0px 0px 87px;
    font-size: 22px;
  }

  .main-img-section {
    width: 100%;
  }
}
  /* header {
    width: 100%;
  }
  main {
    width: 100%;
  } */

  /* .header-content {
    width: 100%
  }

  #logo-span {
    order: 0;
    width: 100%;
  }

  .header-texts {
    order: 1;
    width: 100%;
  }

  .header-user-name {
    order: 1;
    width: 100%;
  }

  .header-user-role {
    padding-left: 0px;
    order: 0;
    width: 100%;
  } */
}
